@media (min-width: 720px) {
	.main .container {
		width: 720px;
	}
}

@media (max-width: 720px) {
	.main .container {
		max-width: 610px;
		min-width: 610px;
	}
}

@media (max-width: 720px) {
	.main {
		padding-bottom: 200px;
	}
}